{% extends 'base.html' %}
{% block content %}
    <h1>Home Page</h1>
    <h2>
        <u>
            Title
        </u>
    </h2>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, neque vero cumque velit obcaecati ex praesentium quae iure. Illo nesciunt est laborum corporis beatae, suscipit labore consequuntur esse voluptas sequi? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, a nostrum aspernatur id alias aliquam sint dolores esse incidunt velit, in assumenda dicta ab voluptas consectetur provident mollitia repellendus suscipit? </p>
    <div>
        <p>
            comment thing
        </p>
        <p>
            comment thing
        </p>
        <form title="comment">
            <input type="text">
        </form>
    </div>
{% endblock content %}
