h1, h2, h3, h4{
    color: rgb(26, 53, 53);
    text-align: center;
    margin-top: 1.5em;
}
body{
    background-color: rgb(216, 224, 209);
}
.comments{
    border-style: solid;
    border-width: .1em;
    border-top-width: 0;
    border-color: rgb(47, 48, 92);
    margin: 20%;
    margin-top:0;
    margin-bottom: 0;
    li{
        list-style: none;
        margin: 10%;
        margin-top: 0;
        margin-left: 10%;
        font-size: 20pt;
        line-height: 1.5em;
        padding: 2%;
        

        margin-bottom: 2em;
        font-size: 14pt;
        border-color: rgb(87, 88, 129);
        h6{
            margin: 3em;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}
p{
    margin: 10%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20pt;
    line-height: 1.5em;
    padding: 2%;

    border-style: solid;
    border-width: .1em;
    border-color: rgb(47, 48, 92);
}
div{
    margin: 10%;
    p{
        margin-bottom: 2em;
        font-size: 14pt;
        border-color: rgb(87, 88, 129);
    }
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    label{
        text-align: center;
        font-size: 12pt;

    }
    button{
        padding: 1.5em;
        background-color: rgb(156, 208, 243);
    }
    border-style: solid;
    background-color: rgb(215, 236, 234);
    padding: 2em;
    padding-bottom: 1em;
    // border-color: rgb(133, 106, 141);
    border-color: rgb(87, 88, 129);
    font-size: 14pt;

}
nav{
    margin: 3%;
    a{
        padding: 5em;
        background-color: rgb(172, 226, 226);
        text-decoration: none;
        color: black;
        text-align: center;
        padding-bottom: 2em;
        padding-top: 2em;
        margin: .5em;
    }
}
h3{
    text-align: center;
}
#form_input{
    display: flex;
    flex-direction: column;
}

.errorlist{
    text-align: center;
    color: red;
}
li{
    a{
        color: black;
    }
}
#div-add{
    margin: 25%;
    margin-top: 10%;
    margin-bottom: 5%;
}